<div class="col-span-1 h-full pr-4 md:pr-6">
    <div class="flex flex-col-items-end">
        <div class="space-y-2 lg-w-[230px]">
            <div
                class="rounded-full p-4 flex items-center hover:bg-opacity-10 hover:bg-blue-300 cursor-pointer transition">
                <img src="assets/TwitterLogo.png" alt="logo" class="">
            </div>
            <div routerLink='header' class="flex flex-row items-center">
                <div
                    class="material-icons text-white relative rounded-full h-14 w-14 flex items-center justify-center p-4 hover:bg-slate-300 hover:bg-opacity-10 cursor-pointer">
                    home
                </div>
                <div
                    class="relative hidden lg:flex items-center gap-4 p-4 rounded-full hover:bg-opacity-10 hover:bg-slate-300 cursor-pointer">
                    <p class="hidden lg:block text-white text-lg">Home</p>
                </div>
            </div>
            <div routerLink='follow' class="flex flex-row items-center">
                <div
                    class="material-icons text-white relative rounded-full h-14 w-14 flex items-center justify-center p-4 hover:bg-slate-300 hover:bg-opacity-10 cursor-pointer">
                    follow_the_signs
                </div>
                <div
                    class="relative hidden lg:flex items-center gap-4 p-4 rounded-full hover:bg-opacity-10 hover:bg-slate-300 cursor-pointer">
                    <p class="hidden lg:block text-white text-lg">Follow</p>
                </div>
            </div>
            <div routerLink='notification' class="flex flex-row items-center">
                <div
                    class="material-icons text-white relative rounded-full h-14 w-14 flex items-center justify-center p-4 hover:bg-slate-300 hover:bg-opacity-10 cursor-pointer">
                    notifications
                </div>
                <div
                    class="relative hidden lg:flex items-center gap-4 p-4 rounded-full hover:bg-opacity-10 hover:bg-slate-300 cursor-pointer">
                    <p class="hidden lg:block text-white text-lg">Notifications</p>
                </div>
            </div>

            <div class="flex flex-row items-center">
                <div
                    class="material-icons rounded-full text-white relative h-14 w-14 flex items-center justify-center p-4 hover:bg-slate-300 hover:bg-opacity-10 cursor-pointer">
                    person
                </div>
                <a routerLink='profile'
                    class="relative hidden lg:flex items-center gap-4 px-4 py-2 rounded-full hover:bg-slate-300 hover:bg-opacity-10 cursor-pointer">
                    <p class="hidden lg:block text-white text-lg">Profile</p>
                </a>
            </div>

            <!-- Logout Button -->
            <div (click)="logout()" class="flex flex-row items-center">
                <div
                    class="material-icons text-white relative rounded-full h-14 w-14 flex items-center justify-center p-4 hover:bg-slate-300 hover:bg-opacity-10 cursor-pointer">
                    logout
                </div>
                <div
                    class="relative hidden lg:flex items-center gap-4 p-4 rounded-full hover:bg-opacity-10 hover:bg-slate-300 cursor-pointer">
                    <p class="hidden lg:block text-white text-lg">Logout</p>
                </div>
            </div>
        </div>
    </div>
</div>