<div class="px-6 my-8 hidden lg:block w-max">
  <div class="bg-neutral-800 rounded-xl p-4">
    <h2 class="text-white text-xl font-semibold">Whom to follow</h2>
    <div class="flex flex-col gap-6 mt-4">
      <!-- List of users -->
      @for(user of users(); track user){<div class="flex flex-row gap-4 items-center">
        <!-- Avatar -->
        <div class="rounded-full hover:opacity-90 transition cursor-pointer">
          <img [src]="user.picture || 'assets/user.png'" alt="{{ user.name }}"
            class="object-cover rounded-full w-12 h-12" />
        </div>
        <!-- User Details -->
        <div class="flex flex-col flex-1">
          <p class="font-semibold text-sm text-white">{{ user.name }}</p>
          <p class="text-neutral-400 text-sm">{{ user.username }}</p>
        </div>
        <!-- Follow/Unfollow Button -->
        <button mat-raised-button color="accent" (click)="toggleFollow(user.username)"
          class="text-white px-4 py-1 rounded-lg transition hover:opacity-80 w-24"
          [ngClass]="{'bg-blue-500': !followedUsers(), 'bg-gray-500': followedUsers()}">
          {{ followService.followedUsers().has(user.username) ? 'Unfollow' : 'Follow' }}
        </button>
      </div>}
    </div>
  </div>
</div>