<div class="px-6 my-8 hidden lg:block w-[18rem]">
    <div class="bg-gray-800 rounded-xl p-4">
        @if(user){<div class=" items-center">
            <h2 class="text-white text-xl mb-4 font-semibold">Welcome {{ user.name }}</h2>

            <img [src]="user.picture || 'https://via.placeholder.com/150'" alt="Profile Picture" class="w-12 h-12 m-auto rounded-full">
            <h2 class="text-2xl font-bold text-white"></h2>
            <p class="mt-2 text-gray-300"> &#64;{{ user.username }}</p>
            <p class="text-gray-400">Email : {{ user.email }}</p>
            <p class="text-gray-400">Gender : {{ user.gender }}</p>
        </div>} @else{
        <p class="text-white text-center">No user details available. Please log in.</p>
        }
    </div>
</div>